.top_button_div {
  padding-top: 1%;
  display: flex;
  gap: 100px;
  width: 90%;
  border-bottom: 2px solid black;
  justify-content: center;
  margin: auto;
}

.datalogger_status_div {
  display: flex;
  font-size: 20px;
  margin-top: 10px;
  width: 100%;
  justify-content: right;
}

.datalogger_status_div_text {
  text-align: center;
}

.datalogger_status_div_icon {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 18px;
  text-align: center;
  margin-top: 3px;
}

.top_buttons {
  font-size: 30px;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.top_buttons:first-child {
  margin-left: 50px;
}

.top_buttons:last-child {
  margin-right: 50px;
}

.divider {
  width: 2px;
  height: 42px;
  display: inline-block;
  background-color: black;
  border: none;
}

body {
  margin: 0;
  padding: 0%;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  font-family: "Segoe UI", Arial, sans-serif;
}

div {
  font-family: "Segoe UI", Arial, sans-serif;
}
