{% extends "top_stripe_base.html.j2" %} {% block head%}
<title>Things to do</title>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='css/todo.css') }}" />
<!for live server: ../static/css/styling.css>
<!for flask: {{ url_for('static',filename='css/styling.css') }}>
{% endblock %} {% block mainbody%}
<div class="todo_list">
  <div class="todo_item">- Some kind of "temperature rise last hour for mainpage</div>
  <div class="todo_item">- Oppfølging på siste, grader/min eller per time</div>
  <div class="todo_item">- heatmap last 30 days to visualize average temps for the period</div>
  <div class="todo_item">- column plot to visualize distro of avg temps during last 30 days</div>
  <div class="todo_item">- Utvid stats siden med mer lignende info</div>
  <div class="todo_item">- grad-timer hadde vært kult "timer under x grader denne perioden"</div>
  <div class="todo_item">- Estimer energien i rommet ut i fra volum luft, trykk etc</div>
  <div class="todo_item">- masse data rundt romenergi, prøv å beregne snitteffekt for radiator</div>
  <div class="todo_item">- stability score a la "1/stdavg"</div>
  <div class="todo_item">- snittdata rundt våken og sove-tider</div>
  <div class="todo_item">- Hva kan en gjøre mtp å estimere når jeg er hjemme/våken/varmer?</div>
  <div class="todo_item">- snittemp nå iforhold til vanlig temp denne tiden på døgnet, timesbasert</div>
  <div class="todo_item">- correlation matrix</div>
</div>
{% endblock %}
